.cabecalho
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #FFF;
    padding: 26px 30px;

    h2
    {
        font-size: 14px;
        font-weight: 600;
        color: #A79F9F;
    }

    h3
    {
        padding: 13px;
        border-radius: 100px;
        background-color: #F47A08;

        font-size: 15px;
        font-weight: 600;
    }
}